.header {
  background-color: #fff;
  .nav {
    &__center {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: 800px) {
        flex-direction: row;
        padding: 1rem 0;
      }
    }
    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      @media screen and (min-width: 800px) {
        padding: 0;
        width: unset;
      }
    }
  }
}

.nav__toggle {
  cursor: pointer;
  background-image: url(/images/icon-hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;

  @media screen and(min-width: 800px) {
    display: none;
  }
}

.nav__links {
  background-image: url(/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $color-neutral;
  background-size: contain;
  width: 100vw;
  height: 0;
  overflow: hidden;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    li {
      list-style-type: none;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &:last-child {
        border: 1px solid #fff;
        text-align: center;
        width: 90%;
        padding: 0.5rem 0;
      }
      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
  @media screen and(min-width: 800px) {
    background: none;
    height: auto;
    width: unset;
    ul {
      flex-direction: row;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        width: unset;
        &:not(:last-child) {
          margin: 0 1.5rem 0 0;
        }
        &:last-child {
          width: unset;
          border: 2px solid $color-neutral2;
          padding: 0.5rem 1rem;
          margin: 0;

          &:hover {
            background: $color-primary;
          }
          a:hover {
            color: #fff;
          }
        }
        a {
          color: $color-neutral2;
          font-size: 0.9em;
          font-weight: bold;
          letter-spacing: 1px;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}

.show-links {
  height: 92vh;
}

.show-close {
  background-image: url(/images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
}
