// Variables //
$desktop: 800px;
// ## Colors
// ### Primary
$color-primary: hsl(256, 26%, 20%);
$color-primary2: hsl(216, 30%, 68%);
// ### Neutral
$color-neutral: hsl(270, 9%, 17%);
$color-neutral2: hsl(273, 4%, 51%);
$color-neutral3: hsl(0, 0%, 98%);
